@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: helvetica;
    src: url('./fonts/HelveticaNeueItalic.ttf');
}

body {
    @apply ltr:text-left rtl:text-right leading-10;
}


.progress-bar{
    width:200%;
}
.progress-bar div {
    width:100%;
    background: repeating-linear-gradient(to right,#872850 0%,#e964a0 50%,#872850 100%);
    height: 3px;
    position:fixed;
    top:0;
    left:0;
    z-index: 50;
    animation-name: progressAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;

}
@keyframes progressAnimation {
    from{transform: translateX(-100%);}
    to{transform: translateX(0%);}
}
